.board {
    display: flex;
    flex-direction: column;
    height: 130vh;
    width: 130vh;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(213, 232, 212, 255);
    position: relative;
    overflow: hidden;
}

.board::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 50%;
    background-image: url("assets/monopoly-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(45deg);
    z-index: 1;
}

.board .board-row {
    display: flex;
    width: 130vh;

    margin: 0;
    padding: 0;
}

.board .board-row:first-of-type, .board .board-row:last-of-type{
    height: 26vh;
}

.board .board-row:not(:first-of-type):not(:last-of-type) {
    height: 13vh;
}

.board .board-row .board-column:first-of-type, .board .board-row .board-column:last-of-type {
    width: 26vh;
}

.board .board-row .board-column:not(:first-of-type):not(:last-of-type) {
    width: 13vh;
}

.board .board-row .border {
    border-style: solid !important;
    border-color: #031633 !important;
    border-width: 1px !important;
    box-sizing: border-box !important;
}

.board .board-row .board-column .tile-tb{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: black;
    font-family: "Arial Narrow", serif;
    font-weight: bold;
    font-size: 9px;
}

.board .board-row .board-column .tile-tb .bar-tb{
    width: 100%;
    height: 3vh;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    box-sizing: border-box;
}

.board .board-row .board-column .tile-tb .orange-bar{
    background-color: rgba(235,154,13,255);
}

.board .board-row .board-column .tile-tb .pink-bar{
    background-color: rgba(210,39,131,255);
}

.board .board-row .board-column .tile-tb .blue-bar{
    background-color: rgba(59,97,168,255);
}

.board .board-row .board-column .tile-tb .green-bar{
    background-color: rgba(3,172,89,255);
}

.board .board-row .board-column .top{
    transform: rotate(180deg);
}

.board .board-row .board-column .bottom{
    transform: rotate(0deg);
}

.board .board-row .board-column .tile-rl{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: black;
    font-family: "Arial Narrow", serif;
    font-weight: bold;
    font-size: 9px;
}

.board .board-row .board-column .tile-rl .bar-rl{
    width: 3vh;
    flex-shrink: 0;
    height: 100%;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    margin: 0;
    box-sizing: border-box;
}

.board .board-row .board-column .tile-rl .baby-blue-bar{
    background-color: rgba(155,210,244,255);
}

.board .board-row .board-column .tile-rl .brown-bar{
    background-color: rgba(137,74,26,255);
}

.board .board-row .board-column .tile-rl .red-bar{
    background-color: rgba(220,8,37,255);
}

.board .board-row .board-column .tile-rl .yellow-bar{
    background-color: rgba(233,234,52,255);
}

.board .board-row .board-column .left{
    transform: rotate(0deg);
}

.board .board-row .board-column .right{
    transform: rotate(180deg);
}

.board .board-row .board-column .tile-tb-icon{
    width: 100%;
    height: 100%;
    max-width: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: black;
    font-family: "Arial Narrow", serif;
    font-weight: bold;
    font-size: 9px;
}

.board .board-row .board-column .tile-rl-icon{
    width: 100%;
    height: 100%;
    max-height: 13vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: "Arial Narrow", serif;
    font-weight: bold;
    font-size: 9px;
}

.board .board-row .board-column .tile-tb-icon .tile-icon{
    width: auto;
    max-width: 10vh;
    height: 40%;
    margin-top: 1vh;
    object-position: center;
}

.board .board-row .board-column .tile-rl-icon .tile-icon{
    width: 40%;
    height: auto;
    max-height: 10vh;
    margin-right: -2vh;
}

.board .board-row .board-column .tile-rl-icon .left{
    transform: rotate(90deg);
}

.board .board-row .board-column .tile-rl-icon .right{
    transform: rotate(90deg);
}

.board .board-row .board-column .tile-corner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: "Arial Narrow", serif;
    font-weight: bold;
    font-size: 9px;
}

.board .board-row .board-column .tile-corner .tile-icon{
    width: 50%;
    height: 50%;
    object-position: center;
}

.top-left{
    transform: rotate(135deg);
}

.top-right{
    transform: rotate(225deg);
}

.bottom-left{
    transform: rotate(45deg);
}

.bottom-right{
    transform: rotate(315deg);
}

.reflected{
    transform: scaleX(-1);
}

.tile-tb .property-name, .tile-tb-icon .property-name{
    margin-top: 1vh;
    width: 100%;
    max-width: 13vh;
}


.board .board-row .board-column .tile-tb .property-price{
    margin-top: 6vh;
    width: 100%;
    max-width: 13vh;
}

.tile-rl .property-name {
    margin-right: 1vh;
    height: 100%;
    max-height: 13vh;
    margin-left: 3vh;
}

.tile-rl-icon .property-name{
    margin-right: 3vh;
    height: 100%;
    max-height: 13vh;
}


.board .board-row .board-column .tile-rl .property-price{
    height: 100%;
    max-height: 13vh;
    margin-left: -2vh;
}

.board .board-row .board-column .tile-rl-icon .property-price{
    margin-left: 2vh;
}


.board .board-row .board-column .tile-rl .left{
    transform: rotate(90deg);
}

.board .board-row .board-column .tile-corner .corner-text{
    margin-top: 1vh;
    width: 100%;
    max-width: 13vh;
}
